<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel = "stylesheet" href="/styles.css" type="text/css">

  <!-- Linking font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
</head>

<body>

  <Header class="header">
    <a href="/home.html" class="logo">CookingBuddy</a>
    
    <div class="links">
      <a href="/recipe" class="header_link">Upload</a>
      <button class="button-3" onclick="location.href='/register.html'" type="button">Register</button>
    </div>
  </Header>

  <div class="content">
    <form id="form">
      <input id="search" name="search" type="text" value="" placeholder="Enter a recipe"></input>
      <button class="button-3" type="button" onclick="fetchRecipe(this.form)">Search</button>
    </form>
    <div id="card-container" class="card-container"></div>
  </div>

  <script>
    var recipes;
    const Http = new XMLHttpRequest();
    const url='http://localhost:3000/recipe-api/getAll';
    Http.open('GET', url)
    Http.send()
    Http.onreadystatechange = (e) => {
      if(Http.readyState == XMLHttpRequest.DONE) {
        recipes = JSON.parse(Http.responseText)
      }
    }
    
    function fetchRecipe(form) {
      var existingCards = document.querySelectorAll('.card')
      if(existingCards.length > 0) {
        existingCards.forEach(card => {
          card.remove()
        })
      }
      const input = form.search.value
      const res = recipes.filter(x => x.title.toLowerCase().includes(input.toLowerCase()))
      buildRecipeCards(res)
    }

    function buildRecipeCards(recipes) {
      for(var i = 0; i < recipes.length; i++) {
        var card = document.createElement('div')
        card.id = recipes[i]._id
        card.className = 'card'
        var imgContainer = document.createElement('div')
        imgContainer.className = 'img-container'
        var img = document.createElement('img')
        img.src = recipes[i].images
        img.className = 'img'
        imgContainer.appendChild(img)
        var cardBody = document.createElement('div')
        cardBody.className = 'card-body'
        var tag = document.createElement('span')
        tag.innerText = '$' + recipes[i].price
        tag.className = "tag tag-orange"
        var title = document.createElement('p')
        title.className = 'title'
        title.innerText = recipes[i].title
        var link = document.createElement('a')
        link.href = `http://localhost:3000/recipe/${recipes[i]._id}`
        link.appendChild(title) 
        cardBody.appendChild(tag)
        cardBody.appendChild(link)
        card.appendChild(imgContainer)
        card.appendChild(cardBody)
        var cardContainer = document.getElementById('card-container')
        cardContainer.appendChild(card)
      }
    }
  </script>
</body>

</html>