<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <h1>Upload a Recipe</h1>
  <form onsubmit="upload(this.form); return false;">
    <label for = "recipeName">Recipe Title</label>
    <br>
    <input type="text" id ="recipeName" name = "recipeName" value = ""></input>
    <br>

    <label for = "ingredients">Ingredients</label>
    <br>
    <textarea id ="ingredients" name = "ingredients" value = "" style="height:200px"></textarea>
    <br>

    <label for = "steps">Steps</label>
    <br>
    <textarea id ="steps" name = "steps" value = "" style="height:200px"></textarea>
    <br>

    <label for = "price">Price (optional)</label>
    <br>
    <input type="text" id ="price" name = "price" value = ""></input>
    <br>
    <br>

    <label for = "image">Image (optional)</label>
    <br>
    <input type="file" accept ="image/*" id ="image" name = "image" value = ""></input>
    <br>
    <br>

    <button class="submitButton" type="button" onClick="upload(this.form)">Submit</button>
  </form>
  <!--"images": ${imageElement}-->

  <script>
    function upload(form) {
     
     var recipeNameElement = form.recipeName.value;
     console.log(recipeNameElement)

     var stepsElement = form.steps.value;
     console.log(stepsElement)

     var ingredientsElement = form.ingredients.value;
     console.log(ingredientsElement)

     var priceElement = form.price.value;
     console.log(priceElement)

     var imageElement = form.image.value;
     console.log(imageElement)

     const Http = new XMLHttpRequest();
     const url='http://localhost:3000/recipe-api/post';
     let data = {
     "title": recipeNameElement,
     "ingredients": ingredientsElement,
     "steps": stepsElement,
     "price": priceElement,
    }
     Http.open("POST", url);
     Http.setRequestHeader("Accept","application/json")
     Http.setRequestHeader("Content-Type","application/json")
     Http.send(JSON.stringify(data));

     Http.onreadystatechange = (e) => {
      console.log(Http.responseText)
    }
   }
  </script>
</body>

</html>