<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel = "stylesheet" href="/styles.css" type="text/css">

  <!-- Linking font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
   
   <style>
    </style>
</head>

<body>
  <!--header-->
  <Header class="header">
    <a href="/home.html" class="logo">CookingBuddy</a>
    
    <div class="links">
      <a href="/recipe" class="header_link">Upload</a>
      <button class="button-3" onclick="location.href='/register.html'" type="button">Register</button>
    </div>
  </Header>

<!--recipe name container-->
  <div class="recipe-title-box" id="recipe-title">
    <h1>Recipe Title</h1>
  </div>

<!--box containing entire recipe-->
  <div class="recipe-box">

    <div class="recipe-photos-container">
      <img src="/sample.png" class="img-recipe"></img>
    </div>

    <div class="text-items-container">
      <div class="price-and-ingredients-container">

        <div class="price-container">
          <h2 class="recipe-h2">Price</h2>
          <div id="price-link" class="price-link">$1.20</div>
        </div>

        <div class="ingredients-container">
          <h2 class="recipe-h2">Ingredients</h2> 
          <div id="ingredients-link" class="ingredients-link">1 tbsp olive oil<br>1 tsp onion powder<br>1 tsp salt<br>1/2 tsp pepper</div>
        </div>

      </div>

      <!--container for steps-->
      <div class="steps-container">
        <h2 class="recipe-h2">Steps</h2>
        <div id="steps-link" class="steps-link">
          To a large pot of boiling water add the pasta and cook according to the box instructions. 
          Reserve one cup of the pasta water, and drain remaining water. Set pasta and pasta water aside.
          <br><br>
          To a large skillet over medium heat, add the oil. Once hot, add in the onion and pepper.
           Sauté for 5-8 minutes or until the veggies are tender. Stir in the heavy cream and seasonings
            and heat to a simmer. Let simmer for one minute and add in the diced tomatoes and green chiles,
             then whisk in the reserved water. Once well combined, stir in the cooked pasta and Parmesan cheese. Enjoy.

        </div>
      </div>

    </div>  
  </div>



  <script>
    
  </script>
</body>

</html>