<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel = "stylesheet" href="/styles.css" type="text/css">

  <!-- Linking font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
</head>

<body>

  <Header class="header">
    <a href="/home.html" class="logo">CookingBuddy</a>
    
    <div class="links">
      <a href="/recipe" class="header_link">Upload</a>
      <button class="button-3" onclick="location.href='/register.html'" type="button">Register</button>
    </div>
  </Header>

  <div class="box" id="upload-box">
  <h1>Upload a Recipe</h1>
  <form class=upload-form onsubmit="upload(this.form); return false;">
    <label for = "recipeName">Recipe Title</label>
    <br>
    <input type="text" id ="recipeName" name = "recipeName" value = ""></input>
    <br>

    <div class="container-2">
      <div class="container-2-inner">
        <label for = "ingredients">Ingredients</label>
        <br>
        <textarea id ="ingredients" name = "ingredients" value = "" style="height:200px"></textarea>
        <br>
      </div>

      <div class="container-2-inner">
        <label for = "steps">Steps</label>
        <br>
        <textarea id ="steps" name = "steps" value = "" style="height:200px"></textarea>
        <br>
    </div>
    </div> <!-- container-2 -->

    <div class="container-3">
      <div class="container-3-inner">
        <label for = "price">Price (optional)</label>
        <br>
        <input type="number" id ="price" name = "price" value = ""></input>
        <br>
        <br>
      </div>

      <div class="container-3-inner">
        <label for = "image">Image (optional)</label>
        <br>
        <input type="file" accept ="image/*" id ="image" name = "image" value = ""></input>
        <br>
        <br>
      </div> <!-- container 3 inner-->
    </div> <!-- container 3-->

    <button class="submitButton" type="button" onClick="upload(this.form)">Submit</button>
  </form>
  <div class="res" id="res"></div>
  </div> <!-- box -->
  

  <script>
    function upload(form) {
     //<link href="css/style.css" rel="stylesheet">
      var recipeNameElement = form.recipeName.value;

      var stepsElement = form.steps.value;

      var ingredientsElement = form.ingredients.value;

      var priceElement = form.price.value;

      var imageElement = form.image;

      var thumbsnapApiKey = '0000261c845cfa6d6a48827b36c4589e'
      const xhr = new XMLHttpRequest()
      xhr.onload = function() {
        var json;

        console.log("upload done", xhr);

        if (xhr.status < 200 || xhr.status >= 300) {
            console.log('HTTP Error: ' + xhr.status);
            return;
        }

        json = JSON.parse(xhr.responseText);

        if (!json || typeof json.data.media != 'string') {
            console.log('Invalid JSON: ' + xhr.responseText);
            return;
        }

        const Http = new XMLHttpRequest();
        const url='http://localhost:3000/recipe-api/post';
        let data = {
          "title": recipeNameElement,
          "ingredients": ingredientsElement,
          "steps": stepsElement,
          "price": priceElement,
          "images": json.data.media
        }
        Http.open("POST", url);
        Http.setRequestHeader("Accept","application/json")
        Http.setRequestHeader("Content-Type","application/json")
        Http.send(JSON.stringify(data));

        Http.onreadystatechange = (e) => {
          if(Http.status == 200) {
            var resText = document.getElementById('res')
            resText.innerText = "Success"
            resText.style.color = 'green'
          } else {
            var resText = document.getElementById('res')
            resText.innerText = "Error"
            resText.style.color = 'red'
          }
        }
      };

      xhr.onerror = function () {
          console.log('Image upload failed due to a XHR Transport error. Code: ' + xhr.status);
      };

      const formData = new FormData();
      formData.append('key', thumbsnapApiKey);
      formData.append('media', imageElement.files[0]);

      const imageUrl = 'https://thumbsnap.com/api/upload'
      xhr.open('POST', imageUrl)
      xhr.send(formData)

   }
  </script>
</body>

</html>